:root {
  --scrollbarThumb-color:rgb(25,135,84);
  --scrollbar-thumbHover-color: rgb(120, 182, 153); 
}

.App {
  text-align: center;
}

.cardHolder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
  margin-top: 5%;
}

.card {
  height: 580px;
  overflow: auto;
  margin: 10px 10px;
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbarThumb-color); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumbHover-color);
}