.App {
  text-align: center;
}

.cardHolder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.card {
  height: 580px;
  overflow: auto;
  margin: 10px 10px;
}


::-webkit-scrollbar {
  width: 13px;
}


/* Track */
::-webkit-scrollbar-track {
  /* box-shadow: inset 0 0 5px grey;  */
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(25,135,84); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(120, 182, 153); 
}